@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import './components/styles/globals.css';

* {
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}